.mat-mdc-form-field {
  margin-top: 30px;
  font-size: 14px;
  width: 100%;
}

.main-table {
  margin-top: 1px;
  overflow-x: auto;
}

td{
  background-color: aliceblue;
}
.pointer {
  cursor: pointer;
}


.icon-container {
  max-width: fit-content;
  
}
