.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
}

.main-table {
  margin-top: 20px;
  overflow-x: auto;
}

td{
  background-color: aliceblue;
}
.pointer {
  cursor: pointer;
}


.icon-container {
  max-width: fit-content;
  
}
